$table-width: 768px;
$desktop-width: 875px;
$xl-dexktop-width: 1351px;
$phone-width: 320px;
$iphone-width: 375px;
$iphoneplus-width: 450px;

@mixin breakpoint($point){
    @if $point == "tablet" {
        @media (min-width: #{$iphoneplus-width}) and (max-width: #{$desktop-width}) {
            @content;
        }
    }
    @else if $point == "tablet-landscape" {
        @media (min-width: #{$table-width}) and (max-width: #{$desktop-width}) and (orientation: landscape) {
            @content;
        }
    }
    @else if $point == "tablet-portrait" {
        @media (min-width: #{$table-width}) and (max-width: #{$desktop-width}) and (orientation: portrait) {
            @content;
        }
    }
    @else if $point == "phone" {
        @media (min-width: #{$phone-width}) and (max-width: #{$iphoneplus-width}) {
            @content;
        }
    }
    @else if $point == "phone-landscape" {
        @media (min-width: #{$phone-width}) and (max-width: #{$table-width}) and (orientation: landscape) {
            @content;
        }
    }
    @else if $point == "desktop-xl" {
        @media (min-width: #{$xl-dexktop-width}) {
            @content;
        }
    }
    @else if $point == "phone-tablet" {
        @media (max-width: #{$desktop-width}) {
            @content;
        }
    }
}

@mixin boxBorder($radius) {
    border: 1px solid #e6e6e6;
    background-color: white;
    @if $radius == yes {
        border-radius: 5px;
    }
}

@mixin blueButton() {
    -webkit-appearance: none;
    border-radius: 3px;
    background-color: $light-blue;
    color: white;
    font-weight: 600;
    border: 0;
    font-size: $normal-font-size;
    line-height: 26px;
    cursor: pointer;
    width: 100%;
    &:focus,
    &:active {
        outline: none;
    }
    &:active {
        opacity: 0.9;
    }
}